<div style="max-width:400px; margin:2rem auto; padding:1rem; border:1px solid #ccc; border-radius:8px;">
  <h3>Create Account</h3>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <label>First Name:</label>
    <input formControlName="firstName" type="text" style="width:100%; margin-bottom:0.5rem;" required>

    <label>Last Name:</label>
    <input formControlName="lastName" type="text" style="width:100%; margin-bottom:0.5rem;" required>

    <!-- <label>User Name</label>
    <input formControlName="userName" type="text" style="width:100%; margin-bottom:0.5rem;" required> -->

    <label>Email:</label>
    <input formControlName="email" type="email" style="width:100%; margin-bottom:0.5rem;" required>

    <label>Password:</label>
    <input formControlName="password" type="password" (input)="onPasswordInput()" style="width:100%; margin-bottom:0.5rem;" required>

    @if (signupForm.get('password')?.value) {
      <p>
        Strength:
        <span [style.color]="passwordStrength === 'Weak' ? 'red' : (passwordStrength === 'Medium' ? 'orange' : 'green')" >
          {{ passwordStrength }}
        </span>
      </p>
    }

    <label>Confirm Password:</label>
    <input formControlName="confirmPassword" type="password" style="width:100%; margin-bottom:0.5rem;" required>

    <!-- Validation messages -->
    <div style="color:red; font-size:0.9rem;">
      @if (signupForm.get('password')?.value?.toLowerCase().includes(signupForm.get('firstName')?.value?.toLowerCase())) {
        <p>❌ Password should not contain First Name</p>
      }

      @if (signupForm.get('password')?.value?.toLowerCase().includes(signupForm.get('lastName')?.value?.toLowerCase())) {
        <p>❌ Password should not contain Last Name</p>
      }

      @if (signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value) {
        <p>❌ Passwords do not match</p>
      }
    </div>

    <button type="submit" [disabled]="!isPasswordValid()" style="margin-top:1rem; padding:0.5rem 1rem;">
      Sign Up
    </button>
  </form>
</div>
