<div class="chat-container">
  <div class="chat-partners">
    <h3>Chats</h3>
    <ul>
      <li *ngFor="let partner of chatPartners" 
          [class.active]="selectedPartner?.username === partner.username"
          (click)="selectPartner(partner)">
        <div>{{ partner.username }}</div>
        <small>{{ partner.lastMessage }}</small>
      </li>
    </ul>
  </div>

  <div class="chat-window" *ngIf="selectedPartner">
    <h3>Chat with {{ selectedPartner.username }}</h3>
    <div class="messages">
      <div *ngFor="let msg of messages" [class.self]="msg.sender !== selectedPartner.username">
        <span>{{ msg.sender }}:</span> {{ msg.content }}
      </div>
    </div>
    <div class="input-box">
      <input [(ngModel)]="messageText" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
